[Unit]
Description=Gatefold - A display for Raspotify
Documentation=https://github.com/JamieGoodson/gatefold
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash -c "cd /home/pi/projects/gatefold/webapp && npm run serve"
Restart=on-failure

[Install]
WantedBy=multi-user.target